POSTGRES_USER=pulse_e2e
POSTGRES_PASSWORD=pulse_e2e
POSTGRES_DB=pulse_e2e

RABBITMQ_USER=pulse_e2e
RABBITMQ_PASSWORD=pulse_e2e
RABBITMQ_ERLANG_COOKIE=pulse_e2e_cookie

MINIO_USER=pulse_e2e
MINIO_PASSWORD=pulse_e2e_secret

JWT_SECRET=e2e_test_secret_32_bytes_exactly!!
INTERNAL_API_SECRET=e2e_internal_secret_32_bytes_ok!
