POSTGRES_USER=pulse
POSTGRES_PASSWORD=pulse
POSTGRES_DB=pulse

RABBITMQ_USER=pulse
RABBITMQ_PASSWORD=pulse
RABBITMQ_ERLANG_COOKIE=pulse_dev_cookie

MINIO_USER=pulse
MINIO_PASSWORD=pulse_secret

JWT_SECRET=change_me_to_32_plus_random_bytes_before_any_deploy
INTERNAL_API_SECRET=change_me_to_32_plus_random_bytes_before_any_deploy
SCRIPT_SECRET_KEK=change_me_to_32_plus_random_bytes_before_any_deploy

SCRIPT_SERVICE_PORT=8084
